body{
    background-color: beige;
}
.divider {
    border: none;
    height: 4px;
    width: 60%;
    background-color: rgb(0, 0, 0);
    margin: 40px auto;
    border-radius: 10px;
}
.divider-half{
    border: none;
    height: 1px;
    width: 90%;
    background-color: rgb(0, 0, 0);
    margin: 40px auto;
    border-radius: 10px;
}
.top-banner {
    width: 100%;
    height: 140px;              
    background-color: #6b4f3b;  
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}
.raksha-name {
    font-size: 48px;
    color: rgb(112, 29, 29);
    margin: 80px 0 20px 120px;
    font-family: "Playwrite AU TAS", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.raksha-name:hover{
    color: #e1a835;
}

.raksha-text {
    font-size: 27px;
    max-width: 1080px;
    margin-left: 120px;
    margin-bottom: 60px;
    line-height: 1.6;
    color: rgb(112, 29, 29);
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.terminal {
    background-color: #5a4634;
    color: #f5f0e6;
    font-family: "Courier New", monospace;
    padding: 40px;
    border-radius: 15px;
    width: 75%;
    margin: 0 auto 80px auto; 
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    margin-left: 120px;
}
.terminal a{
    color:#f5f0e6;
    text-decoration: none;
}
.terminal a:hover{
    color: #e1a835;
}
.raksha-project{
    color: rgb(112, 29, 29);
    margin: 80px 0 20px 120px;
    font-family: "Playwrite AU TAS", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;

}
.project-table{
    font-size: 22px;
    max-width: 1080px;
    margin-left: 120px;
    margin-bottom: 60px;
    color: rgb(112, 29, 29);
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    line-height: 1.6;
}
.project-table a{
    color: rgb(112, 29, 29);
    text-decoration: none;
}
.project-table a:hover{
    color:#e1a835;
}
.raksha-contact{
    font-size: 35px;
    color: rgb(112, 29, 29);
    margin: 80px 0 20px 120px;
    font-family: "Playwrite AU TAS", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.raksha-contactlist{
    font-size: 22px;
    max-width: 1080px;
    margin-left: 120px;
    margin-bottom: 60px;
    color: rgb(112, 29, 29);
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    line-height: 1.6;
}
.raksha-contactlist a{
    color:rgb(112, 29, 29);
}
.raksha-contactlist a:hover{
    color:#e1a835;
}
.foot{
    margin-top:auto;
    margin-left:620px; 
}




